




@tailwind base;

/* Your own custom base styles */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Your own custom component styles */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

@layer base {
  body {
    @apply bg-[#F1F6FB]; /* fallback color : #F8FAFB] */
    @apply font-inter;
  }

  h1 {
    @apply text-xl;
  }
  h2 {
    @apply text-lg;
  }
}
